<html>
        <body>
        <h1>Menu</h1>
        <h2>Ajout</h2>
                <p><a href="{{ path('myapp_acteur_ajouter') }}">Ajouter un acteur</a><p>
                <p><a href="{{ path('myapp_categorie_ajouter') }}">Ajouter une catégorie</a><p>
                <p><a href="{{ path('myapp_film_ajouter') }}">Ajouter un film</a><p>


        <h2>Liste</h2>
                <p><a href="{{ path('myapp_acteur_lister') }}">Liste des acteurs</a><p>
                <p><a href="{{ path('myapp_categorie_lister') }}">Liste des catégories</a><p>
                <p><a href="{{ path('myapp_film_lister') }}">Liste des films</a><p>

        </body>
</html>